swagger: '2.0'
info:
  title: STRATUS - Open API
  contact:
    name: GTP Services
    url: http://www.gogtp.com
  license:
    name: Terms & Conditions
    url: http://www.gtpstratus.com/STRATUS%20EULA.htm
  version: October 20, 2022 (18:04:36)
host: api.gtpstratus.com
basePath: /
schemes:
  - https
consumes: []
produces: []
paths:
  /v1/activity:
    get:
      tags:
        - Activity
      summary: Activity
      produces:
        - application/json
      parameters:
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
          x-ms-dynamic-values:
            operationId: Activity
            value-path: data
            value-collection: filterOptions
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ActivityDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: Activity
      description: >-
        Get a paged list of activity logs.Sorted by CreatedDT desc.See
        ActivityDataApi documentation for limits on where clause.
      $$hashKey: object:3634
  /v1/assembly:
    get:
      tags:
        - Assembly
      summary: Assembly
      produces:
        - application/json
      parameters:
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssemblyDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: Assembly
      description: Get a paged list of company assemblies.Sorted by created date ascending.
      $$hashKey: object:3635
  /v1/assembly/{id}:
    get:
      tags:
        - Assembly
      summary: Assembly.ID
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssemblyDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get assembly by id.
      operationId: Assembly.ID
      $$hashKey: object:3636
  /v1/assembly/{id}/attachments:
    get:
      tags:
        - Assembly
      summary: Assembly.Attachment
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Assembly Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachmentDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get paged attachment details for the given STRATUS assembly id.Sorted by
        file name ascending.
      operationId: Assembly.Attachment
      $$hashKey: object:3637
  /v1/assembly/{id}/parts:
    get:
      tags:
        - Assembly
      summary: Assembly.Part
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Assembly Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 100)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PartDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get a paged list of assembly parts (that is, all the parts associated
        with Assembly.PartIds).Sorted by cad id ascending.
      operationId: Assembly.Part
      $$hashKey: object:3638
  /v1/assembly/{id}/annotations:
    get:
      tags:
        - Assembly
      summary: Assembly.Annotations
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Assembly Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/AnnotationDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get all saved assembly annotations including dimensions, item numbers,
        and other tags.
      operationId: Assembly.Annotations
      $$hashKey: object:3639
  /v1/assembly/{id}/tracking-status:
    post:
      tags:
        - Assembly
      summary: Post assembly tracking status.
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Assembly Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: id
            value-collection: data
            value-title: name
        - in: body
          name: body
          description: 'REQUIRED: TrackingStatusId'
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Post assembly tracking status.
      operationId: Post.Assembly.TrackingStatus
  /v1/assembly/{id}/attachment:
    post:
      tags:
        - Assembly
      summary: Upload.Assembly.Attachment
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Assembly Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: id
            value-collection: data
            value-title: name
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachmentDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Upload a file for the given assembly.
      operationId: Upload.Assembly.Attachment
  /v2/assembly/{qrcode}:
    get:
      tags:
        - Assembly
      summary: Assembly.QRcode
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: qrcode
          description: >-
            The decoded text from a STRATUS QR Code -- being a URL or just the
            last eight characters of the URL.
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: qrCodeUrl
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssemblyDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get an Assembly by STRATUS QR Code (aka, GO code).
      operationId: Assembly.QRcode
      $$hashKey: object:3640
  /v2/assembly/{id}/part-cad-ids:
    put:
      tags:
        - Assembly
      summary: Replace.Assembly.PartcadID
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Assembly Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: id
            value-collection: data
            value-title: name
        - in: body
          name: body
          description: Array of Part CadIds used to replace existing.
          schema:
            description: Array of Part CadIds used to replace existing.
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssemblyDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Replace existing Part CadIds.
      operationId: Replace.Assembly.PartcadID
    patch:
      tags:
        - Assembly
      summary: Update.Assebmly.Part.CadID
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Assembly Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Assembly
            value-path: id
            value-collection: data
            value-title: name
        - in: body
          name: body
          description: Array of Part CadIds used to add.
          schema:
            description: Array of Part CadIds used to add.
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssemblyDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Update existing Part CadIds.
      operationId: Update.Assebmly.Part.CadID
  /v1/attachment/{id}/download:
    get:
      tags:
        - Attachment
      summary: Attachment.Download
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Attachment Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Attachment
            value-path: id
            value-collection: data
            value-title: referenceName
      responses:
        '200':
          description: Success
          schema:
            format: binary
            type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Download the attachment by id.
      operationId: Attachment.Download
      $$hashKey: object:3641
  /v2/attachment:
    get:
      tags:
        - Attachment
      summary: Attachment
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachmentDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get paged details for all attachments for the company.Sorted by file
        name ascending.
      operationId: Attachment
      $$hashKey: object:3642
  /v2/attachment/{id}:
    get:
      tags:
        - Attachment
      summary: Attachment.ID
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Attachment Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Attachment
            value-path: id
            value-collection: data
            value-title: fileName
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Attachment'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get attachment details for the given STRATUS attachment id.
      operationId: Attachment.ID
      $$hashKey: object:3643
  /v2/attachment/{id}/download:
    get:
      tags:
        - Attachment
      summary: Attachment by ID, Download
      produces:
        - text/plain
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - in: path
          name: id
          description: STRATUS Attachment Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Attachment
            value-path: id
            value-collection: data
            value-title: fileName
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachmentFile'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      deprecated: true
      operationId: Attachment.Download14
      description: Download the attachment by id.
      $$hashKey: object:3644
  /v1/company/cost-types:
    get:
      tags:
        - Company
      summary: Company cost types.
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/CostTypeDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company cost types.
      operationId: Cost.Types
      $$hashKey: object:3645
  /v1/company/fields:
    get:
      tags:
        - Company
      summary: Get company fields.
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/FieldDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company fields.
      operationId: Fields
      $$hashKey: object:3646
  /v1/company/naming-conventions:
    get:
      tags:
        - Company
      summary: Get company naming and numbering conventions.
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NamingConventionsDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company naming and numbering conventions.
      operationId: Naming.Numbering
      $$hashKey: object:3647
  /v1/company/package-categories:
    get:
      tags:
        - Company
      summary: Package.Categories
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/CategoryDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: Package.Categories
      description: Get company categories.
      $$hashKey: object:3648
  /v1/company/package-divisions:
    get:
      tags:
        - Company
      summary: Divisions
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DivisionDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company divisions.
      operationId: Divisions
      $$hashKey: object:3649
  /v1/company/package-processors:
    get:
      tags:
        - Company
      summary: Processors
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ProcessorDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      deprecated: true
      operationId: Processors
      description: Get company processors.
      $$hashKey: object:3650
  /v1/company/reports:
    get:
      tags:
        - Company
      summary: Reports
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ReportDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: Reports
      description: Get company reports.
      $$hashKey: object:3651
  /v1/company/stations:
    get:
      tags:
        - Company
      summary: Stations
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/StationDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company stations.
      operationId: Stations
      $$hashKey: object:3652
  /v1/company/task-definitions:
    get:
      tags:
        - Company
      summary: Task definitions
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskDefinitionDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company task definitions.
      operationId: Task.Definitions
      $$hashKey: object:3653
  /v1/company/tools:
    get:
      tags:
        - Company
      summary: Tools
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ToolDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company tools.
      operationId: Tools
      $$hashKey: object:3654
  /v1/company/tracking-statuses:
    get:
      tags:
        - Company
      summary: Tracking.Statuses
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/TrackingStatusDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company tracking statuses.
      operationId: Tracking.Statuses
      $$hashKey: object:3655
  /v1/company/queries:
    get:
      tags:
        - Company
      summary: Queries
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/QueryDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get company queries available via Company Admin
      operationId: Queries
      $$hashKey: object:3656
  /v1/company/run-query:
    get:
      tags:
        - Company
      summary: Execute query for company
      produces:
        - application/json
      parameters:
        - in: query
          name: queryId
          type: string
        - in: query
          name: companyId
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/QueryResultsDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Execute query for company
      operationId: Run.Query
      $$hashKey: object:3657
  /v1/container:
    get:
      tags:
        - Container
      summary: Container
      produces:
        - application/json
      parameters:
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ContainerDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of company containers.Sorted by name ascending.
      operationId: Container
      $$hashKey: object:3658
  /v1/container/{id}:
    get:
      tags:
        - Container
      summary: Container.ID
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Container Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Container
            value-path: id
            value-collection: data
            value-title: containerTypeName
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ContainerDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get container by id.
      operationId: Container.ID
      $$hashKey: object:3659
  /v1/container/short-urls:
    get:
      tags:
        - Container
      summary: Container.ShortURLs
      produces:
        - application/json
      parameters:
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShortUrlDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get a paged list of company container short URLs.Sorted by URL
        ascending.
      operationId: Container.ShortURLs
      $$hashKey: object:3660
  /v1/container/{id}/location:
    patch:
      tags:
        - Container
      summary: Container.Location
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Container Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Container
            value-path: id
            value-collection: data
            value-title: name
        - in: body
          name: body
          description: Location hyperlink or description
          schema:
            description: Location hyperlink or description
            type: string
      responses:
        '200':
          description: Success
          schema:
            type: boolean
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Patch container location.
      operationId: Container.Location
  /v1/container/{id}/tracking-status:
    post:
      tags:
        - Container
      summary: Post.Container.TrackingStatus
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Container Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Container
            value-path: id
            value-collection: data
            value-title: name
        - in: body
          name: body
          description: 'REQUIRED: TrackingStatusId'
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Post container tracking status.
      operationId: Post.Container.TrackingStatus
  /v1/cutlist:
    get:
      tags:
        - CutList
      summary: Cutlist
      produces:
        - application/json
      parameters:
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 100)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CutListDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of cut lists.Sorted by created date descending.
      operationId: Cutlist
      $$hashKey: object:3661
  /v1/cutlist/{id}:
    get:
      tags:
        - CutList
      summary: Cutlist.ID
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Cut List Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Cutlist
            value-path: id
            value-collection: data
            value-title: name
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CutListDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get cut list by id.
      operationId: Cutlist.ID
      $$hashKey: object:3662
  /v1/model:
    get:
      tags:
        - Model
      summary: Model
      produces:
        - application/json
      parameters:
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModelDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of company models.Sorted by project id ascending.
      operationId: Model
      $$hashKey: object:3663
  /v1/model/{id}:
    get:
      tags:
        - Model
      summary: Model.ID
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModelDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: Model.ID
      description: Get model by id.
      $$hashKey: object:3664
  /v1/model/{id}/part/{cadid}:
    get:
      tags:
        - Model
      summary: Model.Part.CadID
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: path
          name: cadid
          description: STRATUS.Part.CadId
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Part
            value-path: cadId
            value-collection: data
            value-title: description
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PartDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a model part by cadid.
      operationId: Model.Part.CadID
      $$hashKey: object:3665
  /v1/model/{id}/parts:
    get:
      tags:
        - Model
      summary: Model.ID.Part
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 100)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PartDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of model parts.Sorted by CadId ascending.
      operationId: Model.ID.Part
      $$hashKey: object:3666
  /v1/model/{id}/packages:
    get:
      tags:
        - Model
      summary: Model.Package
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 200)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of model packages.Sorted by created date ascending.
      operationId: Model.Package
      $$hashKey: object:3667
  /v1/model/{id}/assemblies:
    get:
      tags:
        - Model
      summary: Model.Assemblies
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssemblyDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of model assemblies.Sorted by created date ascending.
      operationId: Model.Assemblies
      $$hashKey: object:3668
  /v1/model/{id}/views:
    get:
      tags:
        - Model
      summary: Model.Views
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ModelView'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: List view names, roles and ids for STRATUS Model.
      operationId: Model.Views
      $$hashKey: object:3669
  /v1/model/{id}/report/{reportid}:
    get:
      tags:
        - Model
      summary: Model.Report.ReportID
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: path
          name: reportid
          description: STRATUS Company Report Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Reports
            value-path: id
            value-title: name
        - in: query
          name: viewId
          description: (optional) STRATUS View Id for a View in the STRATUS Model
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Client Error
        '500':
          description: Server Error
      description: >-
        Generate output from report executed for model id using report
        reportid.Generates CSV output for PDF format type.Only works for these
        report item types:  Master Report, Model, Package, Package Details,
        Assembly, or Part.
      operationId: Model.Report.ReportID
      $$hashKey: object:3670
  /v1/model/{id}/tracking-logs/{refid}:
    get:
      tags:
        - Model
      summary: Model.TrackingLog
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: path
          name: refid
          description: "This is a generic reference id, that is, it is an id that may map to any one of the following:\r\n                Part.CadId, Assembly.Id, Model.Id, Order.Id, Project.Id, Container.Id."
          required: true
          type: string
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackingLogDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get a paged list of tracking logs by reference id.Sorted by model id
        ascending.
      operationId: Model.TrackingLog
      $$hashKey: object:3671
  /v1/model/{id}/tracking-logs:
    get:
      tags:
        - Model
      summary: Model.ID.TrackingLog
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackingLogDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of tracking logs for this model.
      operationId: Model.ID.TrackingLog
      $$hashKey: object:3672
  /v1/model/{id}/package:
    post:
      tags:
        - Model
      summary: Model.Packge
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: Stratus Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: body
          name: body
          description: 'REQUIRED: CategoryId and Name'
          schema:
            $ref: '#/definitions/PackagePOST'
      responses:
        '201':
          description: Success
          schema:
            type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Create a model package.
      operationId: Model.Packge
  /v1/model/{id}/assembly/{cadid}/tracking-status:
    post:
      tags:
        - Model
      summary: Post.Model.Assembly.TrackingStatus
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: path
          name: cadid
          description: STRATUS Assembly CadId
          required: true
          type: string
        - in: body
          name: body
          description: 'REQUIRED: TrackingStatusId'
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Post model assembly tracking status.
      operationId: Post.Model.Assembly.TrackingStatus
  /v1/model/{id}/part/{cadid}/tracking-status:
    post:
      tags:
        - Model
      summary: Post.Model.Part.TrackingStatus
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: path
          name: cadid
          description: STRATUS Part CadId
          required: true
          type: string
        - in: body
          name: body
          description: 'REQUIRED: TrackingStatusId'
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Post model part tracking status.
      operationId: Post.Model.Part.TrackingStatus
  /v1/model/{id}/part/{cadid}/property:
    patch:
      tags:
        - Model
      summary: Update.Model.Part.Property
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: path
          name: cadid
          description: STRATUS Part CadId
          required: true
          type: string
        - in: body
          name: body
          description: >-
            Example JSON KeyValuePair:
            {"key":"propertyKey","value":"propertyValue"}
          schema:
            $ref: '#/definitions/StringStringKeyValuePair'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StringStringKeyValuePair'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Add/Update model part property (case matters).
      operationId: Update.Model.Part.Property
  /v2/model/{id}/tracking-logs/{cadids}:
    get:
      tags:
        - Model
      summary: Model.TrackingLog.Cadids
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Model Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Model
            value-path: id
            value-collection: data
            value-title: name
        - in: path
          name: cadids
          required: true
          type: string
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackingLogDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get a paged list of tracking logs where the references ids are one of
        any of the list of csv CadIds passed.Sorted by model id ascending.
      operationId: Model.TrackingLog.Cad.ids
      $$hashKey: object:3673
  /v1/package:
    get:
      tags:
        - Package
      summary: Package
      produces:
        - application/json
      parameters:
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 200)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of company packages.Sorted by created date ascending.
      operationId: Package
      $$hashKey: object:3674
  /v1/package/{id}:
    get:
      tags:
        - Package
      summary: Package.ID
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Package
            value-path: id
            value-collection: data
            value-title: number
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get package by id.
      operationId: Package.ID
      $$hashKey: object:3675
  /v1/package/{id}/attachments:
    get:
      tags:
        - Package
      summary: "Get paged attachment details for the given package id.\r\nSorted by file name ascending."
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Package
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachmentDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get paged attachment details for the given package id.Sorted by file
        name ascending.
      operationId: Package.Attachments
      $$hashKey: object:3676
  /v1/package/{id}/bom:
    get:
      tags:
        - Package
      summary: Get a package BOM by id.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Package
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BomDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a package BOM by id.
      operationId: Package.BOM
      $$hashKey: object:3677
  /v1/package/{id}/annotations:
    get:
      tags:
        - Package
      summary: Package.Annotations
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Package
            value-path: id
            value-collection: data
            value-title: name
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/AnnotationDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: >-
        Get all saved package annotations including dimensions, item numbers,
        and other tags.
      operationId: Package.Annotations
      $$hashKey: object:3678
  /v1/package/{id}/cutlist:
    post:
      tags:
        - Package
      summary: Post.Package.Cutlist
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Package
            value-path: id
            value-collection: data
            value-title: number
        - in: body
          name: body
          description: >-
            REQUIRED: CutListDataApi - minimum json includes material, size, and
            cutListItems list with at least one entry containing lengthInInches
          schema:
            $ref: '#/definitions/CutListDataApi'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CutListDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Post new cut list for package.
      operationId: Post.Package.Cutlist
  /v1/package/{id}/tracking-status:
    post:
      tags:
        - Package
      summary: Post.Package.TrackingStatus
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Package
            value-path: id
            value-collection: data
            value-title: name
        - in: body
          name: body
          description: 'REQUIRED: TrackingStatusId'
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Post package tracking status.
      operationId: Post.Package.TrackingStatus
  /v1/package/{id}/attachment:
    post:
      tags:
        - Package
      summary: Post.Package.Attachment
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Package
            value-path: id
            value-collection: data
            value-title: number
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachmentDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: Post.Package.Attachment
      description: Upload a file for the given package.
  /v1/package/{id}/report/{reportid}:
    get:
      tags:
        - Package
      summary: PackageID.ReportID
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
        - in: path
          name: reportid
          description: STRATUS Company Report Id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Client Error
        '500':
          description: Server Error
      description: >-
        Generate CSV output from report executed for package id using report
        reportid.Generates CSV output for PDF format type.Only works for these
        report item types:  Master Report, Model, Package, Package Details,
        Assembly, or Part.
      operationId: PackageID.ReportID
      $$hashKey: object:3679
  /v1/package/dashboard:
    get:
      tags:
        - Package
      summary: Package.Dashboard
      produces:
        - text/plain
        - application/json
        - application/xml
      parameters:
        - in: query
          name: packageId
          description: Package Id. Empty=all (def).
          type: string
          default: ''
        - in: query
          name: projectId
          description: Project Id. Empty=all (def).
          type: string
        - in: query
          name: modelId
          description: Model Id. Empty=all (def).
          type: string
        - in: query
          name: reportId
          description: Id of report to run. Empty=dashboard.
          type: string
        - in: query
          name: active
          description: Active packages. true is def.
          type: boolean
          default: true
        - in: query
          name: archived
          description: Archived packages. false is def.
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          schema:
            type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Client Error
        '500':
          description: Server Error
      description: >-
        Get one, many or all rows of STRATUS Package Dashoard as CSV,
        (text/plain), XML (application/xml) or JSON (application/json). To
        control return type, set HTTP header, "Accept"Use
        package/dashboard/count to get number of rows.
      operationId: Package.Dashboard
      $$hashKey: object:3680
  /v2/package/{qrcode}:
    get:
      tags:
        - Package
      summary: Package.QRcode
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: qrcode
          description: >-
            The decoded text from a STRATUS QR Code -- being a URL or just the
            last eight characters of the URL.
          required: true
          type: string
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a package by STRATUS QR Code (aka, GO code).
      operationId: Package.QRcode
      $$hashKey: object:3681
  /v2/package/{id}/assemblies:
    get:
      tags:
        - Package
      summary: Package.Assembly
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 1000)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssemblyDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of package assemblies.Sorted by created date ascending.
      operationId: Package.Assembly
      $$hashKey: object:3682
  /v2/package/{id}/parts:
    get:
      tags:
        - Package
      summary: Package.Parts
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
        - in: query
          name: includeAssemblyParts
          description: OPTIONAL
          type: boolean
          default: false
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 100)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PartDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of package parts.Sorted by CadId ascending.
      operationId: Package.Parts
      $$hashKey: object:3683
  /v2/package/{id}/field:
    patch:
      tags:
        - Package
      summary: Patch.Package.Field
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - text/plain
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
        - in: body
          name: body
          description: 'Example JSON KeyValuePair: {"key":"fieldId","value":"fieldValue"}'
          schema:
            $ref: '#/definitions/StringStringKeyValuePair'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StringStringKeyValuePair'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Add/Update a field by id.
      operationId: Patch.Package.Field
  /v2/package/{id}/assembly-cad-ids:
    put:
      tags:
        - Package
      summary: Put.Package.Assembly.CadIDs
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
        - in: body
          name: body
          description: Array of Assembly CadIds used to replace existing.
          schema:
            description: Array of Assembly CadIds used to replace existing.
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Replace existing Assembly CadIds.
      operationId: Put.Package.Assembly.CadIDs
    patch:
      tags:
        - Package
      summary: Patch.Package.Assembly.CadIDs
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
        - in: body
          name: body
          description: Array of Assembly CadIds to add.
          schema:
            description: Array of Assembly CadIds to add.
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Add Assembly CadIds.
      operationId: Patch.Package.Assembly.CadIDs
  /v2/package/{id}/part-cad-ids:
    put:
      tags:
        - Package
      summary: Put.Package.Part.Cadid
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
        - in: body
          name: body
          description: Array of Part CadIds used to replace existing.
          schema:
            description: Array of Part CadIds used to replace existing.
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Replace existing Part CadIds.
      operationId: Put.Package.Part.Cadid
    patch:
      tags:
        - Package
      summary: Patch.Package.Part.CadIDs
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: STRATUS Package Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Package
            value-path: id
            value-collection: data
            value-title: number
        - in: body
          name: body
          description: Array of Part CadIds to add.
          schema:
            description: Array of Part CadIds to add.
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: Patch.Package.Part.CadIDs
      description: Add Part CadIds.
  /v2/package/properties:
    patch:
      tags:
        - Package
      summary: Patch.Package.Properties
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: "Id is required.\r\nStatus: 0 = Active, 1 = Archived."
          schema:
            $ref: '#/definitions/PackagePATCH'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PackageDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Update various package properties.
      operationId: Patch.Package.Properties
  /v1/part:
    get:
      tags:
        - Part
      summary: Part
      produces:
        - application/json
      parameters:
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
        - in: query
          name: where
          description: >-
            Filter on JSON property values. Example: To filter on two JSON
            properties: length eq '10' AND description == "truck". To get the
            last 30 days of data, use: createdDT ge DateTime.Now.AddDays(-30)
          type: string
        - in: query
          name: page
          description: >-
            Offset retrieves a given page of data, where 0 is the 1st page, etc
            (number of elements per page is set by PageSize below)
          type: integer
        - in: query
          name: pagesize
          description: >-
            Optional: defines the number of elements per page (default (and max)
            is 100)
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PartDataApiPagedData'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a paged list of company parts.Sorted by Id ascending.
      operationId: Part
      $$hashKey: object:3684
  /v1/part/{qrcode}:
    get:
      tags:
        - Part
      summary: Part.QRcode
      produces:
        - application/json
      parameters:
        - in: path
          name: qrcode
          description: >-
            The decoded text from a STRATUS QR Code -- being a URL or just the
            last eight characters of the URL.
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Part
            value-path: qrCodeUrl
            value-collection: data
            value-title: description
        - in: query
          name: include
          description: >-
            A comma delimited list of JSON properties to return. All remaining
            JSON properties will removed from the JSON response. Example: id,
            description, cutListItems. Specific dictionary keys can be included
            as follows: properties["Family"], propertiesGtp["Material"]
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PartDataApi'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      description: Get a part by STRATUS QR Code (aka, GO code).
      operationId: Part.QRcode
      $$hashKey: object:3685
  /v1/part/{id}/tracking-status:
    post:
      tags:
        - Part
      summary: Post.Part.ID.TrackingStatus
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
        - application/xml
        - text/xml
        - application/*+xml
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: STRATUS Part Id
          required: true
          type: string
          x-ms-dynamic-values:
            operationId: Part
            value-path: id
            value-collection: data
            value-title: description
        - in: query
          name: isCut
          description: 'DEFAULT: true. If set to false, will not mark the part as cut.'
          type: boolean
          default: true
        - in: body
          name: body
          description: 'REQUIRED: TrackingStatusId'
          schema:
            $ref: '#/definitions/TrackingStatusPOST'
      responses:
        '200':
          description: Success
[...]
